body {
    padding: 0;
    margin: 0;
    font-family: arial;
    font-size: 12px;
}

.outer-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.margin {
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
}

#top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    height: 100px;
    background-size: contain;
    margin: 10px;
}

#copyright {
    bottom: 0;
    text-align: center;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
}

#unity-container {
    flex: 5;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

#unity-canvas {
    background: #231F20;
    width: 100%;
    display: block;
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#unity-container.unity-desktop {
    flex-direction: row;
}

#unity-container.unity-mobile {
    position: fixed;
    width: 100%;
    height: 100%
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%
}

#unity-logo {
    width: 300px;
    height: 150px;
    background: url('loading-logo.png') no-repeat center;
    background-size: contain;
}

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
    align-self: center;
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}

#unity-footer {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
}

.unity-mobile #unity-footer {
    display: none
}

#unity-webgl-logo {
    float: left;
    width: 204px;
    height: 38px;
    background: url('webgl-logo.png') no-repeat center
}

#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px
}

#unity-fullscreen-button {
    cursor: pointer;
    float: right;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}